# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
env/

# Django
*.sqlite3
staticfiles/
media/

# Node
node_modules/
frontend/dist/
frontend/.vite/

# Docker
*.override.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
